<header class="header">
  <div class="header__brand">
    <a routerLink="/" class="header__brand-link">
      <img src="hector.jpg" alt="Héctor Madrigal" class="header__avatar">
      <span class="header__name">Héctor Madrigal</span>
    </a>
  </div>
  
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item">
        <a routerLink="/" class="header__link"><span class="header__number">01</span> home</a>
      </li>
      <li class="header__item">
        <a href="/#education" class="header__link"><span class="header__number">02</span> education</a>
      </li>
      <li class="header__item">
        <a href="/#projects" class="header__link"><span class="header__number">03</span> projects</a>
      </li>
      <li class="header__item">
        <a href="/#contact" class="header__link"><span class="header__number">04</span> contact</a>
      </li>
    </ul>
  </nav>
</header>